<div class="w-100 h-100">
  <form nz-form
    class="w-100 h-100"
    [formGroup]="taskForm">
    <div class="h-100 w-100 d-flex flex-column justify-content-between">
      <div>
        <nz-form-item class="pm-mb-0">
          <nz-form-control nzErrorTip="Nhân viên không thể để trống!">
            <nz-form-label [nzNoColon]="true"
              [nzFor]="'account_id'">
              Nhân viên
            </nz-form-label>
            <div class="w-100">
              <nz-select [formControlName]="'account_id'"
                [nzPlaceHolder]="'Chọn nhân viên'"
                [nzNotFoundContent]="notFoundAccountTemplate">
                <nz-option *ngFor="let item of listAccount"
                  [nzLabel]="item.fullname + '(' + item.email + ')'"
                  [nzValue]="item.id"></nz-option>
              </nz-select>
              <ng-template #notFoundAccountTemplate>
                <div class="d-flex align-items-center justify-content-center">
                  <span>{{'Chưa có nhân viên nào trong danh sách'}}</span>
                </div>
              </ng-template>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="pm-mt-16px pm-mb-0">
          <nz-form-control nzErrorTip="Phòng không thể để trống!">
            <nz-form-label [nzNoColon]="true"
              [nzFor]="'product_id'">
              Phòng
            </nz-form-label>
            <div class="w-100">
              <nz-select [formControlName]="'product_id'"
                [nzPlaceHolder]="'Chọn phòng'"
                [nzNotFoundContent]="notFoundRoomTemplate">
                <nz-option *ngFor="let item of listRoom"
                  [nzLabel]="item.name"
                  [nzValue]="item.id"></nz-option>
              </nz-select>
              <ng-template #notFoundRoomTemplate>
                <div class="d-flex align-items-center justify-content-center">
                  <span>{{'Chưa có phòng nào trong danh sách'}}</span>
                </div>
              </ng-template>
            </div>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="pm-mb-0 pm-mt-16px">
          <nz-form-control nzErrorTip="Mô tả công việc không thể để trống!">
            <nz-form-label [nzNoColon]="true"
              [nzFor]="'describe'">
              Mô tả công việc
            </nz-form-label>
            <nz-input-group>
              <textarea nz-input
                formControlName="describe"
                placeholder="Nhập mô tả"
                [nzAutosize]="{ minRows: 8, maxRows: 8 }"></textarea>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="d-flex justify-content-end pm-mt-20px">
        <button nz-button
          nzType="primary"
          [nzLoading]="!!loading"
          (click)="handlerUpdate($event)">{{'Lưu'}}</button>
      </div>
    </div>
  </form>
</div>