<div class="w-100 h-100 d-flex flex-column">
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <div class="pm-font-head-3s pm-mr-24px">Team</div>
      <button nz-button
        nzType="primary"
        (click)="handlerAddTeam($event)">
        <i nz-icon
          nzType="plus"
          nzTheme="outline"></i>Thêm team</button>
      <button nz-button
        *ngIf="showDelete"
        class="pm-ml-12px"
        nzType="primary"
        nzDanger
        (click)="handlerDeleteTeam($event)">Xoá team</button>
    </div>
    <div class="d-flex">
      <nz-input-group class="pm-w-503px"
        [nzSuffix]="suffixIconSearch">
        <input type="text"
          nz-input
          placeholder="Tìm theo tên team"
          (keyup)="handlerKeyUp($event)" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon
          nzType="search"></i>
      </ng-template>
    </div>
  </div>
  <div class="h-100 w-100 pm-mt-12px">
    <div class="h-100"
      *ngIf="listTeam && listTeam.length">
      @for (team of listTeam; track team.id; let last = $last) {
      <div class="pm-border-general pm-border-radius-8px pm-bg-ffffff pm-p-16px pm-w-503px pm-mx-auto"
        [class.pm-mb-12px]="!last">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <div class="pm-mr-8px pm-cursor-pointer"
              (click)="handlerExpand($event, team.id)"><span nz-icon
                [nzType]="teamExpand.includes(team.id) ? 'up' : 'down'"
                nzTheme="outline"></span></div>
            <div class="pm-font-head-4s">{{team.name}} ({{team.accounts.length}} thành viên)</div>
          </div>
          <div class="d-flex align-items-center">
            <span nz-icon
              class="pm-color-009cdb pm-cursor-pointer pm-mr-12px"
              nzType="edit"
              nzTheme="outline"
              (click)="handlerEditTeam($event,team)"></span>
            <span nz-icon
              class="pm-color-ff5454 pm-cursor-pointer"
              nz-popconfirm
              nzPopconfirmTitle="Bạn có chắc chắn muốn xoá team này?"
              nzPopconfirmPlacement="bottom"
              nzCancelText="Huỷ bỏ"
              nzOkText="Đồng ý"
              (nzOnConfirm)="handlerDelete(team.id)"
              nzType="delete"
              nzTheme="outline"></span>
          </div>
        </div>
        @if (teamExpand.includes(team.id)) {
        <div class="pm-px-20px">
          @for (account of team.accounts; track account.id; let last = $last) {
          <div class="pm-pt-12px"
            [class.pm-pb-12px]="!last"
            [class.pm-border-bottom-general]="!last">
            <div class="pm-font-head-5s">Tên thành viên: {{account.fullname}} - ({{account.email}})</div>
            <div class="pm-mt-4px pm-font-head-6">Chức vụ: {{account.position === 'leader' ? 'Quản lý' : 'Nhân viên'}}</div>
          </div>
          }
        </div>
        }
      </div>
      }
    </div>
    <div class="h-100 w-100 d-flex align-items-center justify-content-center"
      *ngIf="!listTeam || !listTeam.length">
      <span *ngIf="!loading">{{params.search ? 'Không có kết quả' : 'Chưa có team nào trong danh sách'}}</span>
      <nz-spin *ngIf="loading"
        nzTip="Đang tải..."
        nzSimple></nz-spin>
    </div>
  </div>
</div>

<ng-template #totalTemplate
  let-total>Tổng cộng {{ total }} bản ghi</ng-template>