<div class="d-flex h-100 w-100 justify-content-center align-items-center">
  <div class="pm-bg-ffffff pm-w-548px pm-border-radius-4px pm-border-general pm-px-40px pm-py-24px">
    <div class="w-100">
      <div class="pm-font-head-3s d-flex align-items-center">
        <a nz-button
          [nzType]="'link'"
          class="pm-p-0 pm-w-auto pm-mr-8px"
          (click)="handlerBack()">
          <span nz-icon
            nzType="arrow-left"
            nzTheme="outline"></span>
        </a>Quên mật khẩu
      </div>
      <div class="pm-mt-8px pm-mb-20px">Bạn hãy điền tên tài khoản và email để xác nhận thông tin nhé.</div>
      <form nz-form
        [formGroup]="forgetPasswordForm">
        <nz-form-item class="pm-mb-0">
          <nz-form-control nzErrorTip="Tài khoản không thể để trống!">
            <nz-input-group [nzPrefix]="prefixUser">
              <input type="text"
                nz-input
                formControlName="username"
                placeholder="Tài khoản">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item class="pm-mt-16px pm-mb-0">
          <nz-form-control [nzErrorTip]="emailErrorTpl">
            <div class="position-relative">
              <nz-input-group [nzPrefix]="prefixEmail">
                <input [type]="'text'"
                  nz-input
                  formControlName="email"
                  placeholder="Email">
              </nz-input-group>
            </div>
          </nz-form-control>
          <ng-template #emailErrorTpl
            let-control>
            <ng-container *ngIf="control.hasError('required')">Email không thể để trống!</ng-container>
            <ng-container *ngIf="control.hasError('email')">Email không đúng định dạng!</ng-container>
          </ng-template>
        </nz-form-item>
        <nz-form-item class="pm-mt-16px pm-mb-0">
          <nz-form-control>
            <div class="d-flex align-items-center justify-content-between">
              <button nz-button
                [nzType]="'primary'"
                [nzLoading]="!!loading"
                (click)="handlerForgetPassword()">Quên mật khẩu
                <span nz-icon
                  nzType="login"></span>
              </button>
            </div>
          </nz-form-control>
        </nz-form-item>
      </form>
      <ng-template #prefixUser><span nz-icon
          nzType="user"></span></ng-template>
      <ng-template #prefixLock><span nz-icon
          nzType="lock"></span></ng-template>
      <ng-template #prefixEmail><i nz-icon
          nzType="mail"></i></ng-template>
      <ng-template #suffixTemplate>
        <span nz-icon
          [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="onChangeViewPassword()"></span>
      </ng-template>
    </div>
  </div>
</div>